<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="assets/logo.png" width="30px" height="30px" class="img-responsive" id="logo" style="margin-top:-15px"> <span id="title"> EditMyMarkdown</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto" id="github">
        <a class="nav-link" href="https://github.com/dannyedhouse/EditMyMarkdown" target="_blank">GitHub</a>
      </ul>
    </div>
  </nav>