@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import '~codemirror/lib/codemirror';
@import '~codemirror/theme/material';

body {
    background-color: #f8f8f8;
}

.codemirror .CodeMirror {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

.btn {
    padding: 0.25rem 0.75rem;
    border-radius: 0.175rem;
}

.btn-light {
    border: 1px solid #ddd;
}

.modal-content {
    max-height: 75% !important;
}

.modal #emoji-body {
    padding-top: 0px;
}

::-webkit-scrollbar {
    height: 10px;
    width: 7px;
    background-color: rgba(0,0,0,.1);
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    min-height: 40px;
    background-color: #bbb;
}


@media (min-width: 576px) { 
    .modal .modal-dialog {
        max-width: 650px;
        height: 50%;
    }
}