@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import '~bootstrap/scss/bootstrap';
@import '~github-markdown-css/github-markdown.css';
@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/idea.css';
@import '~codemirror/addon/fold/foldgutter.css';

body {
    background-color: #e9e9e9;
}

.codemirror .CodeMirror {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
}

.btn {
    padding: 0.25rem 0.75rem;
    border-radius: 0.175rem;
}

.btn-light {
    border: 1px solid #ddd;
}

.modal-content {
    max-height: 75% !important;
}

.lg-modal #emoji-body {
    padding-top: 0px;
}

::-webkit-scrollbar {
    height: 10px;
    width: 7px;
    background-color: rgba(0,0,0,.1);
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    min-height: 40px;
    background-color: #bbb;
}

.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 {
    margin-top: 0;
}

.markdown-body code {
    border: 1px solid #ddd;
    color: #999;
    font-size: 14px;
}

.CodeMirror-linenumber {
    font-family: 'Consolas', sans-serif;
    font-size: 13px;
    line-height: 1.9;
    width: 20px !important;
}

.CodeMirror-sizer {
    min-height: 490px !important;
}

@media (min-width: 576px) { 
    .lg-modal .modal-dialog {
        max-width: 650px;
        height: 50%;
    }
}