.navbar {
    height: 70px;
    background-color: #34495e !important;
    color: #ecf0f1;
    font-family: 'Lato', sans-serif;
    padding-left: 7%;
    padding-right: 7%;
}

.navbar {
    color: #ecf0f1;
}

#title {
    font-size: 1.9rem;
}