.custom-container {
    background-color: white;
    margin: 0 auto;
    font-size: 15px !important;
    font-style: normal;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
}

.fixed-container {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 5;
} 

.fixed-container + * { 
    padding-top: 120px;
}

.scroll {
    flex: 1;
    display: flex;
    padding-bottom: 20px;
}

.toolbar {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #222;
    display: block;
    z-index: 5;
    color: #b9b9b9;
}

.toolbar ul {
    margin-bottom: 0px;
    padding-inline-start: 15px;
    list-style: none;
    display: inline-block;
}

.toolbar li {
    cursor: pointer;
    padding: 3px 5px 3px 5px;
    border-radius: 3px;
    display: inline-block;
}

.toolbar-actions.disabled li {
    pointer-events: none;
    opacity: 0.6;
}

li.ul.ul-active {
    background-color: #424242;
    color: white;
}

li.ol.ol-active {
    background-color: #424242;
    color: white;
}

li.tl.tl-active {
    background-color: #424242;
    color: white;
}

.toolbar li:hover {
    color: white;
    background-color: #424242;
}

.codemirror {
    flex: 1 1;
    width: 50%;
}

#preview {
    background-color: #fafafa;
    flex: 1 1;
    width: 50%;
    padding: 10px;
    font-size: 15px;
    word-wrap: break-word !important;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.divider {
    border-right: 1px solid #3e3e3e;
    height: 100%;
    margin: 0 -5px 0px 10px;
}

.search-emoji {
    padding: 10px 10px 0px 10px;
}

.emojis {
    text-align: center;
}

.emoji_list {
    padding-inline-start: 0;
    display: inline;
    list-style: none;
}

.emoji_list li {
    cursor: pointer;
    background-color: #f8f9fa;
    padding: 10px;
    display: inline-block;
}

.emoji_list li:hover {
    background-color: #e2e6ea;
}

.emoji_list img {
    width: 32px;
    height: 32px;
}

a {
    color: #0153a5;
}

.emoji_list li.active {
    background-color: #ccc;
}

.heading-icon {
    font-size: 1rem;
    font-style: normal;
    font-weight: 900;
    font-family: 'Lato', sans-serif;;
}

.heading-icon, .h1:before {
    content: "H1";
}

.heading-icon, .h2:before {
    content: "H2";
}

.heading-icon, .h3:before {
    content: "H3";
}

.heading-icon, .h4:before {
    content: "H4";
}

.heading-icon, .h5:before {
    content: "H5";
}

.heading-icon, .h6:before {
    content: "H6";
}

ul.H2,.H3,.H4,.H5,.H6 {
    padding-inline-start: 5px !important;
}

#insertBtn:disabled {
    cursor: not-allowed;
}

.tab-content {
    padding-top: 20px;
}

#shortcutTable {
    margin-top: -10px;
    margin-bottom: 0;
}

#shortcutTable thead th {
    padding-left: 0.25rem;
    border-top: 0;
}

#shortcutTable td {
    padding: 0.2rem;
}

.status {
    padding: 0.1rem;
    background-color: #007acc;
    color: #fff;
    font-size: 13px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 5;
}

.markdown-status {
    margin: 0 10px;
    float: left;
}

.html-status {
    margin: 0 10px;
    float: right;
}

.value {
    font-weight: 600;
    margin-left: 12px;
}

.codemirror.hide {
    display: none;
}

.mobile-button {
    border-radius: 50%;;
    background-color: grey;
    float: right;
    position: absolute;
    right: 0;    
}

@media (min-width: 991px) {
    .codemirror {
        border-right: 2px solid #ddd;
    }
}

@media (max-width: 991px) {
    .github-corner {
        display: none;
    }

    
    .html-status {
        float: left;
    }
}

@media (max-width: 898px) {
    .fixed-container + * {
        padding-top: 150px;
    }
}

@media (max-width: 455px) {
    .fixed-container + * {
        padding-top: 180px;
    }
}

@media (max-width: 319px) {
    .toolbar .toolbar-actions {
        display: inline-flex !important;
        overflow-x: scroll;
    }

    .fixed-container + * {
        padding-top: 160px;
    }
}